<div class="line-details">
  <h5 (click)="toggleLineDetails()" style="cursor:pointer">{{icon}} Line Details Works</h5>
  <table class="table table-responsive" *ngIf="show">
    <thead>
      <tr>
        <td>Line Type</td>
        <td>Line Num.</td>
        <td>Item Num.</td>
        <td>Prod. Cust. Num.</td>
        <td>Item Desc.</td>
        <td>Qty.</td>
        <td>UOM.</td>
        <td>Unit Cost</td>
        <td>Sim Num.</td>
        <td>Ext. Cost</td>
        <td>Need by Date</td>
        <td>Slr. Type</td>
        <td>Neg No.</td>
        <td>LT Exl.</td>
        <td>SeBean</td>
        <td>Sales Order Num.</td>
        <td>Line Notes</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>