<div class="container-fluid">
  <div class="sidenav">
    <a href="javascript:void(0)"><i class="fas fa-home"></i></a>
    <a href="javascript:void(0)"><i class="fas fa-search"></i></a>   
  </div>
  <div class="main-content">
    <nav class="toolbar">
      4000000XXXXXXYYYYYY PURIFIC... (78CT51)
    </nav>
    <div class="main-content">
      <app-top-field></app-top-field>
      <app-po-details></app-po-details>
      <app-line-details></app-line-details>
      <app-additional-line-details></app-additional-line-details>
    </div>
  </div>

</div>